<!DOCTYPE html>
<html>
	<head>
		<meta charset="UTF-8">
		<title></title>
		<meta http-equiv="X-UA-Compatible"content="IE=edge,chrome=1">
		<meta name="viewport" content="width=device-width, initial-scale=1.0">
	<link rel="stylesheet" href="../css/chongzhi.css" />
		
	</head>

	<body ng-app='myapp'>
		<div class='warp' ng-controller='mycon'>
			<header>
				<div class='h_left'><p><关闭</p></div>
				<div class='h_right'><p>派速魔方-快递员</p></div>
			</header>
			<section>
				<div class='s_up'><p>充值</p></div>
				<div class='s_center'>
					<div class='c_left'>
						<ul>
							<li class='lis'>100元</li>
							<li>300元</li>
							<li>500元</li>
						</ul>
					</div>
					<div class='c_left'>
						<ul>
							<li>200元</li>
							<li>400元</li>
							<li>600元</li>
						</ul>
					</div>
				</div>
				<div class='s_down'>
					<p>立即充值</p>
				</div>
			</section>
			<footer></footer>
		</div>
	</body>
</html>
<!--<script src="../js/angular-1.3.0.js"></script>-->