<!DOCTYPE html>
<html>
	<head>
		<meta charset="UTF-8">
		<title></title>
	</head>
	<body>
		<!--<div>看啥看
			<a ui-sref="home">跳</a>
		<div ui-view></div>
		</div>-->
		<div class="wrap">
			<header>
				<span>〈</span>
				<span>关闭</span>
			</header>
			<section>
				<div class="logo">
					<img src="images/l1_03.png" />
				</div>
				<div class="inpu">
					<p><img src="images/l1_07.png"/><input type="text" class="txt" placeholder="请输入您的手机号"/></p>
					<p>
						<img src="images/l1_10.png"/><input type="password" class="txt" placeholder="请输入您的密码"/>
						<span class="yanzheng">获取验证码</span>
					</p>
				</div>
				<div ui-sref="home" class="login">登录</div>
				<div ui-view></div>
			</section>
		</div>
	</body>
</html>

