@import url(m_resert.css);
html {
  font-size: 62.5%;
}
html,
body,
.wrap {
  width: 100%;
  height: 100%;
  background: none;
}
.wrap {
  display: -webkit-box;
  -webkit-box-orient: vertical;
}
header {
  display: -webkit-box;
  -webkit-box-orient: horizontal;
  width: 100%;
  height: 4rem;
  background: #333333;
}
header img {
  padding: 1.4rem 0.3rem 0 1rem;
  display: inline-block;
}
header h1 {
  color: white;
  line-height: 4rem;
}
section {
  -webkit-box-flex: 1;
  overflow: scroll;
}
section .banner {
  width: 100%;
  height: auto;
  background: none;
}
section .banner img {
  display: block;
  width: 100%;
  height: auto;
  background: none;
}
section .text {
  margin-top: 1.3rem;
  width: 95%;
  height: 9.9rem;
  background: noen;
  margin-left: 2%;
  display: -webkit-box;
  -webkit-box-orient: vertical;
}
section .text .main {
  width: 100%;
  height: 4.3rem;
  background: none;
  border: 1px solid #ccc;
  display: -webkit-box;
  -webkit-box-orient: horizontal;
  margin-bottom: 1rem;
}
section .text .main dt {
  width: 15%;
  height: 4.3rem;
  background: none;
}
section .text .main dt .img_1 {
  width: 100%;
  height: 2.2rem;
  background: none;
  margin-top: 1rem;
  text-align: center;
  border-right: 1px solid #ccc;
}
section .text .main dt .img_1 img {
  display: inline-block;
  margin-top: 0.1rem;
}
section .text .main dd {
  -webkit-box-flex: 1;
}
section .text .main dd input {
  margin-left: 0.8rem;
  margin-top: 1.1rem;
  width: 95%;
  height: auto;
  background: none;
  border: none;
  outline: none;
  font-size: 1.5rem;
}
section .dl {
  width: 90%;
  height: 4.4rem;
  background: #46c68b;
  margin-top: 1rem;
  margin-left: 5%;
  border-radius: 1rem;
}
section .dl button {
  width: 100%;
  height: 100%;
  background: none;
  color: white;
  letter-spacing: 1rem;
  padding-left: 1rem;
  box-sizing: border-box;
  outline: none;
  border: none;
}
section .operation {
  width: 100%;
  height: 1.5rem;
  background: none;
  display: -webkit-box;
  -webkit-box-orient: horizontal;
  margin-top: 1rem;
}
section .operation .register {
  margin-left: 1rem;
}
section .operation .kong {
  -webkit-box-flex: 1;
}
section .operation .forget {
  margin-right: 1rem;
}
