<header>
	<img src="images/dl_03.jpg"/>
	<h1>关闭</h1>
</header>
<section>
	<div class="banner">
		<img src="images/dl_banner_06.jpg"/>
	</div>
	<div class="text">
		<dl class="main">
			<dt><div class="img_1"><img src="images/login_phone_09.jpg" alt="" /></div></dt>
			<dd>
				<input type="text" placeholder="请输入手机号" />
			</dd>
		</dl>
		<dl class="main">
			<dt><div class="img_1"><img src="images/login_suo_12.jpg" alt="" /></div></dt>
			<dd>
				<div class="s_code"><input type="text" placeholder="请输入密码" /></div>
			</dd>
		</dl>		
	</div>
	<div class="dl">
		<button>登录</button>
	</div>
	<div class="operation">
		<div class="register">
			<h1 ui-sref='register'>注册新用户</h1>
		</div>
		<div class="kong"></div>
		<div class="forget">
			<h1>忘记密码?</h1>
		</div>		
	</div>
</section>

