<header>
	<img src="images/dl_03.jpg"/>
	<h1>关闭</h1>
	<p>快递员注册</p>
</header>
<section>
	<div class="register_main">
		<form name='form1'>
		<dl class="register_phone">
			<dt><div class="img_1"><img src="images/login_phone_09.jpg" alt="" /></div></dt>
			<dd>
				<input type="number" placeholder="请输入您的手机号"/>
			</dd>
		</dl>
		<dl class="register_phone">
			<dt><div class="img_1"><img src="images/login_suo_12.jpg" alt="" /></div></dt>
			<dd>
				<input type="text" placeholder="请输入6到16位的密码" />
			</dd>
		</dl>
		<dl class="register_pwd">
			<dt><div class="img_2"><img src="images/login_suo_12.jpg"/></div></dt>
			<dd>
				<input type="text" placeholder="请再次输入您的密码" />
			</dd>
		</dl>
		<dl class="register_code">
			<dt><div class="img_3"><img src="images/code_03.jpg"/></div></dt>
			<dd>
				<div class="r_code"><input type="text" placeholder="请输入短信验证码" /></div>
				<div class="re_code"><button class="code">获取验证码</button></div>
			</dd>
		</dl>
		</form>
	</div>
	<div class="agree">
		<input type="checkbox" />
		<p>我同意，</p>
		<a href="">《派速魔方快递员使用协议》</a>
	</div>
	<!--<div class="errormessage">
		<span>aaa </span>
	</div>-->
	<div class="dl">
		<button>注册</button>
	</div>
	<div class="already">
		<p>已经有帐号了，<a href="#">去登陆</a></p>
	</div>
</section>