<!DOCTYPE html>
<html>
	<head>
		<meta charset="UTF-8">
		<title></title>
		<meta http-equiv="X-UA-Compatible"content="IE=edge,chrome=1">
		<meta name="viewport" content="width=device-width, initial-scale=1.0">
		<link rel="stylesheet" href="../css/jilu.css" />
	</head>
	<body>
		<div class='warp'>
			<header>
				<div class='h_left'><p><关闭</p></div>
				<div class='h_center'><p>快递记录</p></div>
				<div class='h_right'><img src="../images/img_111.jpg"/></div>
			</header>
			<section></section>
			<footer></footer>
		</div>
	</body>
</html>
